body{
  width: 100%;
  margin: 0;
  background-color: white;
}

a{
  color: black;
  text-decoration: none;
  display: block;
}
a:hover{
  color: #023db2;
}
a:visited{
  color: black;
}

li{
  /* border-bottom: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: black; */
  margin: 2px auto;
  border-radius: 10px;
  width: 80%;
}
li:hover{
  background-color: #0550e631;
}

#header{
  display: flex;
  width: 100%;
  background-color: white;
  margin-bottom: 0;
  z-index: 1;
  height: 130px;
}

#headercol1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 3;
  padding: 50px;
  box-sizing: border-box;
}

.menu{
  background-color: red;
  list-style: none;
  color: black;
  background-color: white;
  text-align: right;
  padding-right: 50px;
  margin: 0 auto;
  border-radius: 0px 0px 10px 10px;
  z-index: 2;
  position: fixed;
  top: 130px;
  left: 10%;
  width: 80%;
  height: 150px;
  box-sizing: border-box;
  text-align: center;
  font-size: large;
}

.overlay{
  background-color: rgba(0,0,0,0.4);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
}

#loginbutt{
  background-color: #023db2;
  color: white;
  width: 80%;
  justify-content: center;
  border: none;
  border-radius: 10px;
  font-size: large;
  height: 30px;
}
.lglink{
  color: white;
}
.lglink:hover{
  color: white;
}
.lglink:visited{
  color: white;
}

#logodiv{
  flex: 1;
  display: flex;
  direction: rtl;
  margin-right: 50px;
  align-items: center;
}

.headbutt{
  background: none;
  border: none ;
  cursor: pointer;
}


#footer{
  width: 100%;
  background-color: #002265;
  direction: rtl;
  padding: 50px;
  text-align: right;
  box-sizing: border-box;
}

#media{
  list-style: none;
  display: flex;
  text-align: right;
  padding: 0;
}
#media li{
  width: fit-content;
  margin: 5px;
}
#media img{
  width: 30px;
}

#access li::marker{
  text-align: right;
  padding: 0;
  content: ">  ";
  font-size: 18px;
  color: rgb(255, 255, 255);
}
#access{
  padding: 0;
  margin-top: 10px;
  margin-right: 0 ;
  text-align: right;
  color: rgb(177, 177, 177);
}
#access li{
  margin: 0;
  width: fit-content;
  margin-top:10px ;
}
#access li a:visited{
  color: rgb(177, 177, 177);
}
#access li a:hover{
  color: white;
}

#access li:hover{
  background-color: #002265;
}






/* موبایل */
@media (max-width: 600px) {
  #loginbutt{
    font-size: medium;
  }
  .menu{
    font-size: medium;
    width: 90%;
    left: 5%;
  }
}

/* تبلت */
@media (min-width: 601px) and (max-width: 1024px) {

}

/* دسکتاپ */
@media (min-width: 1025px) {

}