#back{
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#front{
    width: 95%;
    text-align: center;
    direction: rtl;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: black;
    padding-top: 20px;
}

#contant{
    width: 70%;
    text-align: right;
    margin: auto;
}

.cap{
    margin-bottom: 10px;
    margin-top: 20px;
}

.txt{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px black;
}

#txtarea{
    width: 300px;
    height: 60px;
}

#est{
    width: 100%;
    background-color: #023db2;
    color: white;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: none;
    height: 30px;
}